/* ==================== */
/* Classic Theme */
/* ==================== */
body.theme-classic {
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
}

body.theme-classic .grid-backdrop {
  background: rgba(43, 58, 62, 0.8);
}

body.theme-classic .grid-container {
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.theme-classic .substack-button {
  border: 2px solid transparent;
  border-radius: 50%;
  background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #f44d39, #fdaf3a, #f3e546) border-box;
}

.theme-classic .substack-button img {
  content: url('https://raw.githubusercontent.com/kritiquekapital/marjork/main/css/pic/Psych-Flower%20%2304.png'); /* Original image */
}
