/* General game container */
#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid #333;
  margin: 10px auto;
}

/* General Grid Cell */
.grid-cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  font-size: 20px;
  font-weight: bold;
  
  /* Animate smooth sliding */
  transition: transform 0.2s ease-in-out;
}

/* Style for game-over message */
.hidden {
  display: none;
}

#game-over {
  text-align: center;
  font-size: 18px;
  color: red;
  margin: 10px 0;
}

/* Colors for different tile values */
.tile-2 {
  background-color: #eee;
}

.tile-4 {
  background-color: #f2b705;
}

.tile-8 {
  background-color: #f05e30;
}

.tile-16 {
  background-color: #0f0;
}

.tile-32 {
  background-color: #00f;
}

.tile-64 {
  background-color: #000;
  color: white;
}

/* Example for smooth transitions of blocks sliding */
.tile-moving {
  transform: translate(5px, 0);
}
